*{
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 150px;
    border: 2px black solid;
    margin-bottom: 10px;
    display: flex;
}

h2 {
    font-weight: bold;
}

.header h1{
    text-align: center;
    font-size: 50px;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 15% 42% 41.5%;
    grid-gap:10px;
}

section{
    border: 2px solid black;
    height: 700px;
    padding: 10px;
    overflow-y: auto;
}

#city-input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 2px gray solid;
    border-radius: 5px;
    font-size: 15px;
}

button:hover {
    background-color: #c3c3c3;
    cursor: pointer;
}

.poster{
    height: 90px;
    width: 60px;
}

h3 {
    font-weight: bold;
}

.movie h2 {
    margin-top: 30px;
}

.restaurant-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.restaurants {
    background-color: #f8f8f8;
}

a {
    margin-left: 200px;
}

li{
    list-style: none;
}

.text-center{
    display:block;
    margin:auto;
    text-align: center;
    font-size: 50px;
}